@charset "UTF-8";

*{
	padding:0;
	margin: 0;
}


body {
	display: grid;
	grid-template-rows: 120px 80px auto 50px;
	height: 100vh;
}

header {
	background-color: #F5EBE0;
	color: black;
}

h1,h2 {
	text-align: center;
	margin-top: 30px;
}

nav {
	display: flex;
	flex-direction: center;
	justify-content: center;
	background-color: #F5EBE0;
	color: darkgrey;
}

ul {
	display: flex;
	list-style: none;
}

li {
	padding: 0 30px;
}

section {
	background-color: #FEFCF3;
	color: darkgrey;
}

footer {
	background-color: #DBA39A;
	color: white;
}


footer>p {
	text-align: center;
	margin-top: 20px;
}


a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}
	
table {
	margin: 20px auto;
	border: 1px solid grey;
	border-collapse: collapse;
}

td> input {
	border: none;
	outline: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: fit-content;
	margin: auto;
}

