@charset "UTF-8";

*{
	padding:0;
	margin: 0;
}


body {
	display: grid;
	grid-template-rows: 120px 40px auto 50px;
	height: 100vh;
}

header {
	background-color: #F5EBE0;
	color: black;
}

h1,h2 {
	text-align: center;
	margin-top: 30px;
}

nav {
	display: flex;
	flex-direction: center;
	justify-content: center;
	background-color: #F5EBE0;
	color: darkgrey;
}

ul {
	display: flex;
	list-style: none;
								
}

/* list에 패딩(안쪽마진)을 상 > 우 > 하 > 좌
	두개 넣으면 0(상/하) 20 (좌/우)
 */
li {
	padding: 0 40px;
}


section {
	background-color: #FEFCF3;
	color: darkgrey;
}

footer {
	background-color: #DBA39A;
	color: white;
}


footer>p {
	text-align: center;
	margin-top: 20px;
}


a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}
	
table {
	width: 400px;
	padding: 10px;
	outline: none;
}

td> input {
	border: none;
	outline: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: cetner;
	
	width: fit-content;
	margin: auto;
}


input[type="submit"], #cancle{
	display: flex;
	flex-direction: column;
	width: 100px;
	cursor: pointer;
}

